<link rel="stylesheet" href="css/header.css">

<header>
    <div class="login">
        <li><a href="/">Sign In</a></li>
        <li><a href="/api/auth/signUp">Sign Up</a></li>
    </div>
</header>