<link rel="stylesheet" type="text/css" href="/css/result.css">

<div class="result">
    <div class="display">
        <div><b>Original URL:</b></div>
        <div><%= originalUrl %></div>
    </div>
    <div class="display">
        <div><b>Shorten URL:</b></div>
        <div><%= shortUrl %></div>
    </div>
</div>
