<link rel="stylesheet" href="/css/login.css">

<div class="login-window">
<h1>Sign Up</h1>
<form action="/api/auth/register" method="post">
    <label for="registerUsername">Username:</label>
    <input type="text" id="registerUsername" name="username" required>

    <label for="registerPassword">Password:</label>
    <input type="password" id="registerPassword" name="password" required>

    <button type="submit">Register</button>
  </form>
</div>
